{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

<h1>Liste des utilisateurs</h1>

<a href="{{ path('user_create') }}">
    Ajouter un utilisateur
</a>

{% for user in users %}

    <p>

        {{ user.prenom }}
        {{ user.nom }}
        {{ user.email }}
<form action="{{ url('user_delete', { id: user.id }) }}" method="post">
    {# the argument of csrf_token() is the ID of this token #}
    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">

    <button type="submit">Delete item</button>
</form>

    </p>

{% endfor %}

{% endblock %}